.button-container {
    position: fixed;
    left: 0;
    height: 100%;
    margin-top: 55px;
    width: 20%;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}


.sidebar-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.sidebar-btn:hover {
    background-color: #430f0f;
}
.cardcontainerout{
    min-height: 950px;
    padding: 5px;
    width: 80%;
    margin-left: 20%;
    padding-top: 60px;
    /* Change Card-container background*/
    background: linear-gradient(to bottom right, #000000, #ff0000);
    color: rgb(0, 0, 0);
}
/* Style for card container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search-bar2{

}

