.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    padding-top: 65px;
    width: 100%;
    margin-left: 0%;
    /* Change Project-container background*/
    background: lightskyblue;
    color: rgb(0, 0, 0);
}